.top-links {
    display: inline-block;
    font-style: sans-serif;
    font-size: 14px;
}

#Store {
    padding-left: 20px;
}

#Gmail {
    padding-left: 1400px;
}

#Images {
    padding-left: 20px;
}

.logo-block {
    display: inline-block;
    margin: 0 auto;
    padding-left: 750px;
}
#Google-logo {
    height: 8%;
    padding-top: 400px;
}
